
<h1>welcome, to the show page!</h1>

<ul>
  <li> <%= @cat.name        %> </li>
  <li> <%= @cat.color       %> </li>
  <li> <%= @cat.sex         %> </li>
  <li> <%= @cat.birth_date  %> </li>
  <li> <%= @cat.description %> </li>

  <!-- <= render "cat", { cat: @cat } > -->
</ul>